#leaderboard {
    position: absolute;
    background-color: rgba(1, 36, 9, 0.7);
    min-width: 100%;
    min-height: 100%;
    z-index: 10;
    color: white;
    top: 100px;
    left: 0;
}

.entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 20px;
}